@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carattere&family=Playfair+Display&display=swap');
/* @import url('https://fonts.googleapis.com/css2?&display=swap'); */


/* General and home page styling */

body{
    padding-top: 48px;
    background-color: #22223b;
    color: #f2e9e4;
    border: solid #4a4e69 3px;
    border-radius: 10px;
    height: 100%;

}

h1{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 60px;
    text-align: center;
    color: #9a8c98;
    margin: 10px;
    /* margin-top: 30px; */
    /* filter: drop-shadow(1.5px 1px #f2e9e4)  */
}

h2{
    text-align: center;
    font-family: 'Carattere', cursive;
    font-size: 30px;
    margin-top: 10px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 60px;
}

li{
    padding: 20px;
    border: solid #f2e9e4 2px;
    border-radius: 15px;
    margin: 30px;
    list-style: none;
    transition: transform 200ms ease-in-out 25ms;
}

li:hover{
    transform: scale(1.1);
    background-color: #4a4e69;
}

li a{
    text-decoration: none;
    color: #f2e9e4;
}

footer{
    text-align: center;
}

/* Blog styling */
.blogH1{
    text-align: left;
    padding: 0px 20px 0px 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.blogH2{
    text-align: left;
    padding-left: 30px;
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: #5f658a;
}

.blogPost{
    width: 62%;
    font-size: 15px;
    padding: 30px;
    text-align:justify;
}

header{
    display: flex;
    flex-direction: row-reverse;
}

.homeButton{
    width: 8%;
    padding: 15px;
    text-align: center;
    border: solid #f2e9e4 2px;
    border-radius: 15px;
    margin: 0px 30px 0px 0px;
    text-decoration: none;
    color: #f2e9e4;
    transition: transform 200ms ease-in-out 25ms;
}

.homeButton:hover{
    transform: scale(1.1);
    background-color: #4a4e69;
}

.homeButton p{
    margin: 0px;
}